# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
#
# SPDX-License-Identifier: MIT
__pycache__
*.zip
MANIFEST
build_deps
dist
*.egg-info
circuitpython_build_tools/data/
.eggs
version.py
.env/*
.DS_Store
.idea/*
