# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
# SPDX-FileCopyrightText: 2021 James Carr
#
# SPDX-License-Identifier: MIT

name: Release Actions

on:
  release:
    types: [published]

permissions: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        filter: 'blob:none'
        fetch-depth: 0
        persist-credentials: false
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'
    - name: Build
      run: pipx run build
    - name: Check dist metadata
      run: pipx run twine check dist/*
    - name: Upload build as artifacts
      uses: actions/upload-artifact@v5
      with:
        name: dist
        path: dist/*

  publish:
    if: github.event_name == 'release' && startsWith(github.repository_owner, 'adafruit')
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v6
      with:
        name: dist
        path: ./dist
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.12'
    - name: Publish to PyPI
      env:
        TWINE_USERNAME: ${{ secrets.pypi_username }}
        TWINE_PASSWORD: ${{ secrets.pypi_password }}
      run: pipx run twine upload dist/*
